@media all and (min-width: 320px) {
    .home-banner .banner-title {
        font-size: 2.1em
    }

    .home-banner {
        background-image: unset;
        background-size: 100% auto;
    }

    .home-part,
    footer {
        padding: 40px 0;
    }

    .list-mentor {
        margin-top: 40px
    }
}

@media all and (min-width: 768px) {
    .home-banner {
        background: url('images/header-bg.jpg') no-repeat 50% 0 transparent;
        background-size: 100% auto;
        max-width: 1560px !important;
        width: 100%;
        margin: 0 auto;
    }

    .home-banner .btn-play {
        cursor: pointer
    }

    .home-banner.has-video {
        background: url('images/header-bg-video.jpg') no-repeat 50% 0 transparent;
        background-size: 100% auto;
    }

    .home-part {
        padding: 100px 0;
        width: 100%;
        max-width: 1560px;
        margin: 0 auto
    }
}

@media all and (min-width: 1080px) {
    body {
        background-size: 100% auto
    }

    body.home-body {
        background: url('images/bg-page.png') no-repeat 50% 50%;
    }

    .header-primary {
        height: 84px;
    }

    .home-banner .banner-title {
        font-size: 4rem;
    }

    .home-part {
        padding: 90px 0;
    }

    #home-partner {
        padding: 180px 0
    }

    #home-partner .part-title {
        line-height: 1.2;
    }

    .card.card-left {
        position: absolute;
        top: 50px;
        padding: 60px 30px
    }

    .card.highlight {
        width: 100%
    }

    .card.card-left .card-body,
    .card.card-right .card-body {
        padding-bottom: 0
    }

    .card.card-left.highlight {
        top: 50px
    }

    .card.card-right {
        padding: 60px 0 60px 120px;
    }

    .card.card-right.highlight {
        margin-left: -50px
    }

    .card-right {
        padding-left: 40px
    }

    .card-left {
        padding-right: 40px
    }

    .part-title {
        font-size: 3em
    }

    footer {
        padding: 60px 0
    }

    .list-mentor {
        margin-top: 80px
    }

    .page-header {
        padding: 80px 0
    }

    .page-title {
        font-size: 4rem
    }

    .page-title.post-title {
        font-size: 2rem
    }

    .list-parter .media-item .media-title {
        font-size: 1.25em;
    }

    .mentor-group .media-object .thumbnail {
        width: 170px;
        height: 170px
    }

    .list-post .cell {
        margin-bottom: 50px
    }

    .post-entry {
        padding: 20px 100px
    }

    .large-padding-100 {
        padding-left: 100px;
        padding-right: 100px
    }

    .author-intro {
        margin-bottom: 80px
    }

    .author-intro .media-object {
        padding-bottom: 60px
    }

    .app-banner {
        padding: 50px 0;
        font-size: 1.25rem;
        margin-top: 125px
    }

    .app-banner .button:first-child {
        margin-right: 15px
    }

    .app-banner .title {
        font-size: 2.25rem;
        font-weight: 600
    }
}

@media all and (min-width: 1462px) {
    .grid-container-large{
        max-width: 1432px;
    }
}

@media all and (max-width: 768px) {
    .small-bg-gray {
        background-color: #F7F9FE
    }

    .small-box-radius {
        border-radius: 20px;
        -webkit-border-radius: 20px
    }
}