@import "icomoon/style.css";
$accent-color: #3FAA61 !default;
$second-color: #12274a !default;
$white-color: #ffffff !default;
$sizes: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.25rem,
  5: 1.5rem,
  6: 2rem,
  7: 2.5rem,
  8: 3rem,
  9: 3.5rem,
  10: 4rem
);

@each $name, $value in $sizes {
  .mt-n#{$name}, .my-n#{$name}, .m-n#{$name} {
    margin-top: -$value !important;
  }
  .mb-n#{$name}, .my-n#{$name}, .m-n#{$name} {
    margin-bottom: -$value !important;
  }
  .ml-n#{$name}, .mx-n#{$name}, .m-n#{$name} {
    margin-left: -$value !important;
  }
  .mr-n#{$name}, .mx-n#{$name}, .m-n#{$name} {
    margin-right: -$value !important;
  }
  .mt-#{$name}, .my-#{$name}, .m-#{$name} {
    margin-top: $value !important;
  }
  .mb-#{$name}, .my-#{$name}, .m-#{$name} {
    margin-bottom: $value !important;
  }
  .ml-#{$name}, .mx-#{$name}, .m-#{$name} {
    margin-left: $value !important;
  }
  .mr-#{$name}, .mx-#{$name}, .m-#{$name} {
    margin-right: $value !important;
  }
  .pt-#{$name}, .py-#{$name}, .p-#{$name} {
    padding-top: $value !important;
  }
  .pb-#{$name}, .py-#{$name}, .p-#{$name} {
    padding-bottom: $value !important;
  }
  .pl-#{$name}, .px-#{$name}, .p-#{$name} {
    padding-left: $value !important;
  }
  .pr-#{$name}, .px-#{$name}, .p-#{$name} {
    padding-right: $value !important;
  }
}
@function rem($size) {
  @return $size / 16px * 1rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Barlow', sans-serif;
}

.ml-auto{
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.ico-support{
  background-image: url("images/icon-pin.png");
}
.ico-legal{
  background-image: url("images/icon-legal.png");
}
.ico-design{
  background-image: url("images/icon-design1.png");
}
.ico-sales{
  background-image: url("images/icon-sale.png");
}

.checkbox-custom{
  position: relative;
  padding-left: 31px;
  display: flex;
  align-items: center;
  line-height: normal;
  margin-bottom: 10px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $accent-color;
      &:after {
        display: block;
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 1px solid rgba(18, 39, 74, 1);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: "\e908";
      position: absolute;
      display: none;
      font-family: 'icomoon';
      color: #fff;
      font-size: rem(11px);
      line-height: 1;
    }
  }
}

.grid-container{
  max-width: 70.625rem;
  &-small {
    max-width: 45rem;
  }
  &-medium {
    max-width: 62rem;
  }
}

/* Second Font */
.header-primary .menu a,
.part-desc,
.button--special,
.second-font,
.part--link,
.button{
  //font-family: 'Barlow Condensed' !important;
  font-family: 'Barlow', sans-serif !important;
}

.primary-font{
  font-family: 'Barlow', sans-serif !important;
}

a, .startup-journey .title, .card__item-window{
  -webkit-transition: all 0.15s ease 0s; /* For Safari 3.1 to 6.0 */
  transition: all 0.15s ease 0s;
}
.journey-step {
  .node-expand, li:after{
    -webkit-transition: all 0.1s linear 0.1s; /* For Safari 3.1 to 6.0 */
    transition: all 0.1s linear 0.1s;
  }
}

.color-accent{
  color: $accent-color;
}
.color-white{
  color: $white-color;
}
.color-second{
  color: $second-color;
}

a:hover, a:focus{
  color: $accent-color;
}

.d-block{
  display: block;
}

.part{
  &-title{
    margin-bottom: 30px;
    &--divider{
      width: 64px;
      height: 5px;
      background-color: $accent-color;
      display: block;
      margin-bottom: 20px;
      &.text-center{
        margin-left: auto;
        margin-right: auto;
      }
      &.text-right{
        margin-left: auto;
      }
      + .part-title{
        margin-top: -13px;
      }
      &-white{
        background-color: #fff;
      }
      &-medium{
        width: 79px;
        height: 11px;
      }
      &-small{
        width: 72px;
        height: 5px;
      }
      &-tiny{
        width: 51px;
        height: 3px;
      }
      &-gray{
        background-color: rgba(237, 240, 255, 1);
      }
      &--sub{
        font-size: rem(15px);
      }
    }
    &--medium{
      font-size: rem(45px);
      font-weight: bold;
    }
    &--xmedium{
      font-size: rem(44px);
      font-weight: 500;
    }
    &--large{
      font-size: rem(56px);
      font-weight: bold;
    }
    &--small{
      font-size: rem(34px);
      font-weight: bold;
    }
    &--xsmall {
      font-size: rem(40px);
      font-weight: 500;
    }
    &--tiny {
      font-size: rem(27px);
      font-weight: bold;
    }
    + .part-title--divider {
      margin-top: -27px;
    }
    + .part-title--divider-medium{
      margin-top: -16px
    }
  }
  &-desc{
    color: rgba(18, 39, 74, 0.7);
    font-size: rem(16px);
    line-height: rem(30px);
    margin-bottom: 0;
    &--medium{
      font-size: rem(22px);
      line-height: 1.27;
    }
    &--small{
      font-size: rem(18px);
      line-height: 1.27;
      font-weight: 500;
    }
  }
  &-box{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    &__img{
      position: relative;
      margin-left: 40px;
      &:before{
        content: "";
        background-color: rgba(229, 229, 229, 0.6);
        width: 100%;
        height: calc(100% + 11px);
        position: absolute;
        z-index: -1;
        right: 30px;
        top: 26px;
        border-radius: 32px;
      }
      img{
        border-radius: 40px;
      }
    }
  }
  &--link{
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    li{
      font-size: rem(17px);
      color: $accent-color;
      font-weight: bold;
      display: flex;
      align-items: center;
      line-height: 1.5;
      margin: 8px 0;
      &:before{
        content: "";
        width: 12px;
        height: 12px;
        border: 1.5px solid $accent-color;
        border-radius: 50%;
        margin-right: 17px;
      }
    }
  }
  &-tabs{
    .tabs{
      flex: 0 0 25%;
    }
    .part-desc{
      font-size: rem(14px);
      line-height: normal;
    }
  }
}

.form-control-popup{
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 11px 19px 12px;
  min-width: 242px;
  left: 0;
  bottom: calc(100% + 6px);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  &.open{
    opacity: 1;
    visibility: visible;
  }
  .close{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
    cursor: pointer;
    i{
      font-size: rem(11px);
      line-height: 1;
    }
  }
  .select-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 11px;
  }
  .button{
    height: 26px;
    min-width: inherit !important;
    padding: 0 12px;
    font-size: 1rem !important;
    margin-left: 8px;
    margin-bottom: 0;
  }
  .select-value{
    height: 216px;
    overflow: auto;
    &::-webkit-scrollbar-track{
      border-radius: 10px;
      margin: 0 10px;
    }
    &::-webkit-scrollbar{
      width: 7px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 5px;
      background-color: rgba(237, 240, 255, 1);
    }
  }
}

.filter-form{
  .form-group{
    background-color: #fff;
    border: 1px solid rgba(18, 39, 74, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    &--select{
      position: relative;
      padding: 0;
    }
    margin-right: 11px;
  }
  .form-control{
    margin: 0;
    border: none;
    height: 38px;
    color: $second-color;
    font-size: rem(16px);
    box-shadow: none;
    &:focus{
      box-shadow: none;
    }
    &::placeholder {
      color: $second-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: $second-color;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
     color: $second-color;
    }
  }
  .button{
    font-size: rem(17px);
    border-radius: 5px;
    min-width: 158px;
  }
}

.form-control{
  font-size: rem(20px);
  font-weight: 500;
  margin-bottom: 50px;
  color: #fff;
  &-prepend{
    margin-right: 8px;
    display: flex;
  }
  &-select{
    display: flex;
    align-items: center;
    padding: 0 14px 0 23px;
    i{
      font-size: rem(11px);
      margin-left: 15px;
      margin-top: 3px;
    }
  }
  input{
    height: 36px;
    background-color: transparent;
    border: none;
    margin: 0;
    border-bottom: 2px solid #ffffff;
    color: #fff;
    &:focus{
      background-color: transparent;
      box-shadow: none;
      border: none;
      border-bottom: 2px solid #ffffff;
    }
    &::placeholder {
      color: #fff;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }
  }
  textarea{
    background-color: #fff;
    height: 200px;
    margin-top: 32px;
  }
}

.tabs{
  background-color: #ebecf0;
  padding: 40px 12px;
  border: none;
  border-radius: 18px;
  &-title{
    float: none;
    > a{
      font-size: rem(18px);
      font-weight: bold;
      color: $second-color;
      text-align: center;
      height: 55px;
      background-color: #fff;
      margin-bottom: 8px;
      border-radius: 8px;
      box-shadow: 0 3px 7px rgba(0,0,0,0.28);
      border-left: 9px solid transparent;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &[aria-selected='true']{
        color: $second-color;
        border-left-color: $accent-color;
        background-color: #fff;
        box-shadow: none;
        position: relative;
        &:after{
          width: 20px;
          background-color: #fff;
          height: 100%;
          right: -12px;
          content: "";
          position: absolute;
          top: 0;
        }
      }
    }
  }
  &-content{
    border: none;
    overflow: auto;
  }
}

.grid-col-auto{
  .cell{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
.mt-3 {
  margin-top: 1.84rem;
}

.mt-1 {
  margin-top: rem(10px);
}

.mt-2 {
  margin-top: 1.37rem;
}

.mb-4{
  margin-bottom: 4.5rem;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.text-medium {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.text-xsmall {
  font-size: rem(20px);
  line-height: rem(40px);
}

.absolute {
  position: absolute;
}

.link{
  color: rgba(18, 39, 74, 0.7);
  span{
    text-decoration: underline;
  }
  i{
    font-size: rem(10px);
    margin-left: 6px;
  }
}

.button{
  background-color: $accent-color;
  font-size: rem(16px);
  height: 40px;
  min-width: 140px;
  padding: 0 1.625rem;
  font-weight: bold;
  color: $white-color;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  i{
    font-size: rem(12px);
    transform: translateX(8px);
  }
  &:hover{
    background-color: $accent-color;
    color: #fff;
  }
  &--gradient{
    background: linear-gradient(90deg, rgba(63,170,97,1) 0%, rgba(39,140,71,1) 100%);
  }
  &--stroke{
    color: $accent-color;
    background-color: #F6F6F6;
    border: 1px solid $accent-color;
  }
  &--white{
    color: $accent-color;
    background-color: #fff;
    border: 1px solid $accent-color;
    font-weight: normal;
  }
  &--medium{
    height: 52px;
    padding: 0 1.375rem;
  }
  &--large{
    height: 63px;
    padding: 0 2.375rem;
    font-size: rem(20px);
    border-radius: 32.5px;
  }
}

.images-box{
  padding: 9px 36px 10px 36px;
  &--medium{
    padding: 28px 25px;
  }
  h3{
    font-size: rem(16px);
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    img{
      margin-left: 6px;
    }
  }
  &__info{
    margin-left: 15px;
    img{
      max-height: 11px;
    }
  }
  &__item{
    display: flex;
    padding: 16px 0;
    align-items: center;
    font-size: rem(12px);
    > img{
      width: 62px;
      height: 62px;
      object-fit: cover;
      object-position: top center;
    }
    span{
      display: flex;
      align-items: center;
      line-height: 1;
      margin: 5px 0;
      img{
        margin-right: 7px;
        text-align: center;

      }
    }
  }
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img{
  &-list{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    &-nowrap{
      flex-wrap: nowrap;
      overflow-x: auto;
      transform: rotateX(180deg);
      margin-top: 11px;
      > .cell{
        transform: rotateX(-180deg);
      }
      &::-webkit-scrollbar-track{
      	border-radius: 10px;
        margin: 0 10px;
      }
      &::-webkit-scrollbar{
      	height: 7px;
      	background-color: transparent;
      }
      &::-webkit-scrollbar-thumb{
      	border-radius: 10px;
      	background-color: rgba(196, 196, 196, 1);
        margin: 0 20px;
      }
    }
    > .cell {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__item{
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: flex;
      padding: 15px 13px;
      margin: 10px 0;
      background-color: #fff;
      &.active{
        background-color: $accent-color;
        color: #fff;
        p{
          color: #fff;
        }
      }
      .profile-filter & {
        padding: 9px 16px;
      }
      p{
        color: rgba(18, 39, 74, 0.5);
        margin-bottom: 0;
        .profile-filter & {
          line-height: 1.2;
        }
      }
      img{
        width: 76px;
        height: 76px;
        border-radius: 10px;
        object-fit: cover;
        object-position: top center;
        margin-right: 11px;
        .profile-filter & {
          width: 66px;
          height: 66px;
        }
      }
    }
  }
  &-shadow{
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.3);
  }
  &--circle {
    border-radius: 50%;
  }
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 13;
  background-color: #fff;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  + * {
    margin-top: 76px;
  }
}

.header-transparent {
  background-color: transparent;
  + *{
    margin-top: 0;
  }
  + #content{
    padding-top: 145px;
  }
  .header-primary{
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.top-bar {
  padding: 10px 15px;

  .is-dropdown-submenu {
    background-color: #fff;
  }

  .dropdown.menu {
    > li {
      &.is-dropdown-submenu-parent {
        > a {
          &:after {
            background-image: url("images/arrow-down-dark.png");
            margin-top: -4px;
          }
        }

        &.is-active {
          > a {
            &:after {
              background-image: url("images/arrow-down-dark-active.png");
            }
          }
        }
      }
    }
  }
}

.header-white {
  background-color: #fff;
  border-bottom: 1px solid #EDF0FF;
}

.header-primary {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu a {
    color: #12274A;
    font-size: 1rem;
    font-weight: 500;
    .header-transparent & {
      color: #fff;
    }
    .is-sticky.header-transparent & {
      color: #12274a;
    }
  }
  .dropdown{
    &.menu {
      > li {
        position: relative;
        &:last-child{
          > a{
            padding-right: 0;
          }
        }
        > a{
          padding: 0.7rem 0.75rem;
          &.active{
            &:before{
              width: 30px;
              height: 4px;
              background-color: $accent-color;
              content: "";
              position: absolute;
              left: 16px;
              bottom: 0;
              top: auto;
            }
          }
        }
      }
    }
  }
}

.is-dropdown-submenu {
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  min-width: 220px;
}

.is-dropdown-submenu > li {
  position: relative;
}

.is-dropdown-submenu > li:last-child:after {
  display: none;
}

.is-dropdown-submenu > li:before,
.is-dropdown-submenu > li:after {
  content: "";
  position: absolute;
}

.is-dropdown-submenu > li:before {
  width: 9px;
  height: 9px;
  border: 1px solid $accent-color;
  border-radius: 50%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.is-dropdown-submenu > li:after {
  width: 1px;
  height: 19px;
  left: 4px;
  bottom: -10px;
  background: $accent-color;
  border-radius: 6px;
}

.header-container {
  .dropdown {
    .is-dropdown-submenu {
      a {
        padding: 0.6rem 1.5rem;
        color: #12274A;
        font-size: 14px;
      }
    }
  }
}

.dropdown .is-dropdown-submenu a:hover {
  color: $accent-color;
}

.search-form {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  min-width: 270px;
}

.search-form input[type="text"], .search-form input[type="text"]:focus {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.search-form input[type="text"] {
  margin: 0;
  height: 50px;
  padding: 10px 20px;
}

.search-form button[type="submit"] {
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
  background: url("images/btn-search.png") no-repeat 0 0;
  border: none;
  margin: 15px 28px 15px 15px;
  flex: 0 0 auto;
}

/* Slider */
.section-slider {
  position: relative;
  margin-top: 40px;
  .owl-carousel:not(.owl-loaded){
    opacity: 0;
    visibility: hidden;
  }
}

.slider-scroll {
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 1;
  text-align: center;
  width: 100%;
  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem(30px);
  }
}

.slider-item{
  position: relative;
}

.slider-image {
  display: flex;
  align-items: stretch;
  height: 303px;
  position: relative;
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(18, 39, 74, 0.3);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slider-image img {
  object-fit: cover;
  object-position: center center;
  transition: all 300ms ease;
  width: 100%;
}

.slider-info {
  top: 119px;
  right: -63px;
  z-index: 2;
  padding: 0;
  width: 303px;
  height: 65px;
  background-color: $accent-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  &__link{
    color: #fff;
    font-weight: 500;
  }
  *:not(.title){
    display: none;
  }
  p{
    line-height: 1.2;
  }
  .title {
    font-weight: 500;
    font-size: rem(30px);
    line-height: normal;
    color: #fff;
    margin: 0;
    white-space: nowrap;
  }
  .part-title{
    &--divider{
      width: 64px;
      height: 4px;
      margin-top: 20px;
    }
  }
  .sub-title {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: none;
    color: #fff;
  }
  .button{
    margin-top: 16px;
  }
}

.section-slider{
  .slick-track{
    padding-bottom: 75px;
  }
}

.slick-center{
  .slider-image{
    &:after{
      display: none;
    }
    img{
        transform: scale(1.17);
        border-radius: 8px;
    }
  }
  .slider-info {
    width: 100%;
    height: 434px;
    padding: 25px;
    top: -64px;
    right: 0;
    transform: rotate(0);
    display: inline-block;
    left: auto;
    box-shadow: 0 8px 24px rgba(18, 39, 74, 0.17);
    *:not(.title){
      display: inline-block;
    }
    .title{
      margin: 20px 0 -2px;
      white-space: normal;
    }
  }
  + .slider-item{
    .slider-info {
      transform: rotate(90deg);
      right: auto;
      left: -63px;
    }
  }
}

.slider-button {
  display: flex;
  justify-content: center;
}

.slider-button .button {
  height: 3.2em;
  margin-top: 1em;
}

.slider-special{
  .slider-image{
    height: inherit;
    &:before{
      display: none;
    }
  }
  .slider-info{
    width: 37.5%;
    text-align: center;
    left: 9.479%;
    bottom: 16.1%;
    top: auto;
    transform: inherit;
  }
  .button{
    height: inherit;
  }
}

/* Contact */
.home-contact .content{
  background: url(images/bg-contact.jpg) no-repeat;
  background-size: cover;
}
.profile-part{
  background: url(images/bg-profile.jpg) no-repeat;
  background-size: cover;
  padding: 31px 0 34px;
  color: #E5E5E5;
  .part-box__img{
    &:before{
      background-color: rgba(229, 229, 229, 0.25);
      width: 100%;
      height: calc(100% + 7px);
      top: 18px;
      right: 28px;
    }
  }
}
.profile-filter{
  background-color: #12274A;
  padding: 10px 0 10px;
  .part-title--xmedium {
    font-size: rem(31px);
  }
  .part-title--large {
    font-size: rem(43px);
  }
}
.profile{
  &__head{
    display: flex;
    justify-content: space-between;
    &-left{
      display: flex;
    }
    &-right{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      i{
        font-size: rem(12px);
      }
      .button{
        padding: 0 27px;
      }
    }
  }
  &__desc{
    p{
      line-height: 1.25;
    }
  }
  &__info{
    .title{
      font-size: rem(24px);
      font-weight: bold;
      line-height: rem(30px);
      margin-bottom: 4px;
    }
  }
  &__tag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span{
      background-color: $accent-color;
      font-size: rem(11px);
      border-radius: 3px;
      margin-bottom: 8px;
      padding: 0 6px;
    }
  }
  &__logo{
    margin-right: 20px;
    img{
      width: 76px;
      height: 76px;
      border-radius: 10px;
      object-fit: cover;
      object-position: top center;
    }
  }
}
/* About */
.home-about {
  .part-video {
    margin-top: 30px;
  }
}

.home-about .btn-play {
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Startup Journey Minimal */
.node-expand {
  overflow: hidden;

  .node-item {
    &:first-child {
      margin: 0 36px;
      padding: 2px 0 11px;
      border-bottom: 3px solid #EDF0FF;
    }
  }
}

.node-item {
  padding: 11px 36px;

  p {
    line-height: 2.3;
    margin: 0;
  }
}

.startup-journey-minimal {
  margin-bottom: 357px;
  margin-top: 326px;

  li {
    width: 324px;
    max-width: 30%;
    padding-bottom: 95px !important;
    background: none;

    &.is-active {
      color: inherit;
    }

    &:after {
      content: "";
      width: 1px;
      height: 30px;
      background: url(images/verticle-line.png) repeat-y;
      display: block;
      position: absolute;
      bottom: 23px;
      left: 50%;
      border: none;
    }

    &:nth-child(2) {
      left: 50%;
      right: auto;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &:nth-child(3) {
      right: 0;
      left: auto;
    }
  }

  .node {
    animation: inherit !important;
    width: 24px !important;
    height: 24px !important;
    background: none !important;
    padding: 0;
    border: 2px solid $accent-color;
    bottom: -12px !important;
    background-color: #fff !important;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #8993a5;
    font-style: italic;
    font-size: 1.125em;
    font-weight: normal;
  }

  .title {
    font-size: 1.3333em;
    color: #13274B;
    letter-spacing: 0.02em;
    line-height: 1.4;
    font-style: normal;
    font-weight: bold;
  }

  .number {
    font-size: 16em;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: $accent-color;
    opacity: 0.3;
    position: absolute;
    line-height: 1;
    font-style: normal;
    left: 0px;
    bottom: -30px;
  }
}
.mobile-journey {
  margin-top: 50px;
  .step-expand{
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

.journey-step{
  .node-expand{
    top: calc(100% + 100px);
  }
  li:hover, li.is-active{
    &:after{
      bottom: -50px;
    }
    .node-expand{
      top: calc(100% + 50px);
      visibility: visible;
    }
  }
}

.node-show {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: calc(100% + 30px);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 33px 0 36px;

  &:before {
    position: absolute;
    top: -14px;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    border-bottom-color: $accent-color;
    border-width: 7px;
    content: "";
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em;
    padding: 0 0 16px;

    p {
      margin-bottom: 13px;

      &:before {
        content: "✓";
        margin-right: 16px;
      }
    }
  }

  .button {
    padding: 10px 28px;
    font-weight: bold;
    font-size: 1.125rem;
  }
}

.mentor-item {
  padding: 0 3px;
  margin-bottom: 5px;

  span {
    line-height: 1.2;
  }

  p {
    margin-top: 24px;
  }

  a {
    display: block;
    position: relative;

    &:after {
      width: 100%;
      height: 100%;
      border: 0px solid $accent-color;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      -webkit-transition: border 0.3s ease 0s;
      -moz-transition: border 0.3s ease 0s;
      -ms-transition: border 0.3s ease 0s;
      -o-transition: border 0.3s ease 0s;
      transition: border 0.3s ease 0s;
    }
  }

  &:hover {
    a {
      &:after {
        border-width: 10px;
      }
    }
  }
}

.mentor-group {
  font-size: 1.125rem;

  .media-object-section {
    padding-right: 1rem;
  }
}

/* Partner */
#home-achievements {
  background: url("images/bg-partner.png") no-repeat 0 0;
  background-size: cover;
  padding: 64px 0 100px 0;
}

#home-value{
  padding-top: 0;
  padding-bottom: 0;
}

.section-partner {
  .partner-item {
    padding-left: 29px;
    padding-right: 29px;
    img{
      margin: 0 auto;
    }
  }

  .slick-track{
    display: flex;
    align-items: center;
  }

  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.partner-info {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 52px;
  padding: 35px 15px 35px 15px;

  .part-desc {
    margin-bottom: 25px;
    line-height: 1.2;
  }

  .part-title{
    font-size: rem(38px);
    font-weight: 600;
    margin-bottom: 24px;
  }
}

.partner-button {
  margin-top: 10px;

  .button {
    padding: 17px 31px;
  }
}

.partner-list{
  .cell{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/* Image Spiner */
.image-spiner {
  z-index: 1;
  font-size: 1.3rem;
  margin-top: 1em;

  .outside-round, .inside-round {
    &:after {
      width: 100%;
      height: 100%;
      border: 2px dashed #DFE7F4;
      content: "";
      border-radius: 50%;
      display: block;
    }
  }

  .outside-round {
    width: 11em;
    height: 11em;
  }

  .inside-round {
    width: 6.5625em;
    height: 6.5625em;
  }

  .main-round {
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .item-round {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.18);
    z-index: 1;
    width: 1.64em;
    height: 1.64em;

    img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  .main-round{
    z-index: 10;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.18);
  }

  .main-round {
    width: 3.42em;
    height: 3.42em;
    padding: 0.4em 0.26em;

    &:after {
      display: none;
    }
  }

  .item-1 {
    top: 6px;
    left: -6px;
  }
  .item-2 {
    bottom: 25px;
    right: -24px;
  }

  .outside-round:after,
  .inside-round:after {
    animation-name: spin-border;
    animation-duration: 50000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .inside-round:after{
    animation-name: spin-border-reverse;
  }

  .item-round:after {
    animation-duration: 15000ms;
  }
  &--minimal{
    margin-top: 0;
    .inside-round{
      width: 6.46em;
      height: 6.46em;
      &:after{
        z-index: 12;
        position: absolute;
        border-color: $accent-color;
      }
    }
    .main-round{
      padding: 0;
      box-shadow: none;
      width: inherit;
      height: inherit;
    }
  }
}

@keyframes spin-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-border-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.image-spiner--large {
  z-index: 1;
  font-size: 1.3rem;
  margin-top: 0.5em;

  .outside-round, .inside-round {
    &:after {
      width: 100%;
      height: 100%;
      border: 2px dashed #DFE7F4;
      content: "";
      border-radius: 50%;
      display: block;
    }
  }

  .outside-round {
    width: 10em;
    height: 10em;
  }

  .inside-round {
    width: 7em;
    height: 7em;
  }

  .inside-round, .main-round {
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .item-round {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;

    img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  .main-round{
    z-index: 10;
    box-shadow: 0px 22px 28px -11px rgba(0, 0, 0, 0.2);
  }

  .main-round {
    width: 4em;
    height: 4em;
    padding: 0.4em 0.26em;

    &:after {
      display: none;
    }
  }

  .size-1 {
    width: 2em;
    height: 2em;
  }

  .size-2 {
    width: 1.5em;
    height: 1.5em;
  }

  .size-3 {
    width: 1.2em;
    height: 1.2em;
  }

  .size-4 {
    width: 1em;
    height: 1em;
  }

  .item-1 {
    top: -1em;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .item-2 {
    top: 2.12em;
    right: -0.34em;
  }

  .item-3 {
    bottom: 2.82em;
    right: -0.16em;
  }

  .item-4 {
    bottom: -0.94em;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .item-5 {
    bottom: 3.7em;
    left: -0.62em;
  }

  .item-6 {
    top: 1.88em;
    left: 0.4em;
  }

  .item-7 {
    top: -0.22em;
    right: 0.26em;
  }

  .item-8 {
    top: 3.2em;
    right: -0.4em;
  }

  .item-9 {
    bottom: 0em;
    right: 0.76em;
  }

  .item-10 {
    bottom: 0em;
    left: 0.4em;
  }

  .item-11 {
    top: 2.44em;
    left: -0.5em;
  }

  .item-12 {
    left: 0.98em;
    top: -0.22em;
  }

  .outside-round:after,
  .inside-round:after {
    animation-name: spin-border;
    animation-duration: 50000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .inside-round:after{
    animation-name: spin-border-reverse;
  }

  .item-round:after {
    animation-duration: 15000ms;
  }
}

/* Content */
.home-part{
  padding: 30px 0;
}
.home-journey{
  .part-desc{
    margin-bottom: 16px;
  }
}
.home-partnerships{
  margin-top: 0px;
  margin-bottom: 40px;
  + .home-portfolio{
    padding-top: 0px;
  }
}
.home-offer{
  margin-bottom: 50px;
}

.home-portfolio{
  .part-desc{
    margin-bottom: 80px;
  }
  + .home-achievements{
    padding-top: 20px;
  }
}

.home-achievements{
  + .home-supported{
    padding-top: 0px;
  }
}

.home-supported{
  .feature-image{
    margin-top: 60px;
    margin-bottom: 90px;
  }
}

.sub-part{
  padding: 30px 0;
}

.group-part{
  .part-title{
    margin-bottom: 50px;
  }
}

/* List post */
.list-post{
  &--slider{
    .slick-list{
      margin-left: 0;
      margin-right: 0;
    }
    .slick-track{
      padding-top: 52px;
      padding-bottom: 0px;
    }
    .post-item{
      padding-left: 25px;
      padding-right: 25px;
    }
    .slick-center{
      .post-item{
        padding-left: 3px;
        padding-right: 3px;
      }
      .post-item__inner{
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
          transform: translateY(-32px);
          border-radius: 1px;
      }
      .thumbnail{
        img{
          height: 168px;
        }
      }
      .post__desc{
        background-color: $accent-color;
        font-size: rem(16px);
        padding: 9px 13px 13px 13px;
        line-height: rem(19px);
        margin-bottom: 0;
      }
    }
    .thumbnail{
      img{
        height: 136px;
        object-fit: cover;
        object-position: top center;
        border-radius: 5px 5px 0px 0px;
      }
    }
  }
  &--alt {
    .thumbnail{
      margin-bottom: 0;
    }
    .post__desc{
      background-color: $second-color;
      font-weight: bold;
      font-size: rem(12px);
      color: $white-color;
      padding: 14px;
      line-height: rem(14px);
      margin-bottom: 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px 0px 5px 5px;
    }
  }
  &--magazine{
    .post-item{
      position: relative;
    }
    .thumbnail{
      position: relative;
      margin: 0;
      &:before{
        content: "";
        position: absolute;
        background: linear-gradient(0deg, rgba(18,39,74,0.7) 0%, rgba(0,0,0,0) 100%);
        height: 50%;
        bottom: 0;
        border-radius: 4px;
        width: 100%;
      }
    }
    img{
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      border-radius: 4px;
      height: 138px;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
    .post__desc{
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.4;
      width: calc(100% - 16px);
      padding: 0 10px 0 20px;
    }
    &__large{
      padding-right: 9px;
      img{
        height: 289px;
      }
      .post__desc{
        font-size: rem(24px);
        padding: 0 10px 0 40px;
        i{
          font-size: rem(13px);
          display: block;
          text-align: right;
          margin: 10px 0 10px;
        }
      }
    }
    &-alt{
      .post-item{
        &:not(.list-post--magazine__large){
          margin-bottom: 13px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .post__desc{
          font-weight: bold;
          i{
            display: block;
            text-align: right;
            font-size: 10px;
          }
        }
      }
    }
  }
  &--list{
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 12px;
    .post-item{
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #C4C4C4;
      &:last-child{
        margin-bottom: 9px;
      }
      img{
        width: 156px;
        height: 104px;
        object-fit: cover;
        object-position: top center;
      }
    }
    .thumbnail{
      flex: 0 0 auto;
      margin: 0;
    }
    .post{
      &__desc{
        flex-grow: 1;
        margin: 0;
        padding: 0 17px;
        font-size: rem(16px);
        color: rgba(0,0,0,0.75);
        a{
          color: $second-color;
          line-height: 1.2;
          font-weight: bold;
          display: block;
        }
        i{
          font-size: rem(12px);
          font-style: italic;
          display: block;
          margin: 2px 0 9px;
        }
        small{
          font-size: rem(12px);
          display: block;
          line-height: 1.2;
        }
      }
    }
  }
}

.loadmore{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  svg{
    margin-left: 10px;
    margin-top: 3px;
  }
}

.slick-slider{
  opacity: 0;
  visibility: hidden;
  &.slick-initialized{
    opacity: 1;
    visibility: visible;
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;
    .card-slider & {
      right: -2px;
    }
    &:before{
      font-family: 'icomoon';
      font-size: rem(18px);
      content: "\e906";
      .home-testimonial & {
        color: $white-color;
      }
      .list-post--slider & {
        color: $accent-color;
      }
      .card-slider & {
        content: "\e901";
        font-size: rem(12px);
      }
    }
  }
  .slick-prev{
    left: -18px;
    right: auto;
    .card-slider & {
      left: 0;
    }
    &:before{
      content: "\e907";
      .card-slider & {
        content: "\e902";
      }
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -60px;
  .testimonial & {
    bottom: 30px;
  }
  li{
    list-style: none;
  }
  button{
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 3px;
    background-color: $second-color;
    border: 1px solid $second-color;
    box-sizing: border-box;
    .testimonial & {
      width: 11px;
      height: 11px;
      border-color: transparent;
    }
  }
  .slick-active{
    button{
      background-color: $accent-color;
      border-color: $white-color;
    }
  }
}

.home-investment{
  > .grid-container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .box-shadow{
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

/* Footer */
footer {
  font-size: 0.875rem;
}

.footer-new {
  background: url("images/bg-footer.png") no-repeat;
  background-size: cover;
  position: relative;
  font-size: 1.125rem;
  color: #fff;

  &:before {
    width: 100%;
    height: 100%;
    background-color: rgba(18, 39, 74, 0.9);
    content: "";
    top: 0;
    left: 0;
    position: absolute;
  }

  .grid-container {
    z-index: 1;
    position: relative;
  }

  .social {
    margin: 40px 0;

    li {
      margin-right: 20px;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1.75;
  }

  .google-maps {
    margin: 23px 0;
  }
}

.widget-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 0.75em;
}

.footer-widget {
  margin: 22px 0;

  .icon {
    width: 17px;
    flex: 0 0 auto;
    text-align: center;
    margin-right: 15px;
  }

  a {
    color: #fff;
  }
}

/* Card */
.card-heading {
  font-size: 1.125rem;
  font-weight: bold;
}

.card {
  .card-heading {
    p {
      color: rgba(18, 39, 74, 0.6);
      margin-bottom: 0;
    }
  }

  &.highlight {
    .card-heading {
      p {
        color: rgba(255, 255, 255, 0.6);
        small{
          font-size: rem(15px);

        }
      }
    }
  }
  &-left{
    .card{
      min-height: 240px;
      display: flex;
      justify-content: center;
      border-radius: 40px;
      padding: 20px 30px;
      margin-top: 22px;
      margin-bottom: 22px;
      &-body{
        padding: 0;
        text-align: center;
        p{
          font-size: rem(18px);
          line-height: 1.7;
          small{
            font-size: rem(15px);
            font-weight: normal;
          }
        }
      }
      &-offer {
        .ico{
          margin-bottom: 10px;
        }
      }
    }
  }
  &-slider{
    .card{
      &-title{
        font-size: rem(38px);
      }
      &-body{
        display: flex;
        align-items: center;
        p{
          font-size: rem(9px);
          font-weight: 600;
        }
      }
    }
    &__items{
      max-width: calc(100% - 88px);
      margin-left: auto;
    }
    &__item{
      background-color: rgba(237, 240, 255, 1);
      border-radius: 20px;
      text-align: center;
      height: 84px;
      margin: 0 9px;
      padding: 10px 5px;
      display: flex !important;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    &__link{
      flex: 0 0 auto;
      a{
        font-size: rem(20px);
        font-weight: 600;
      }
    }
    .slick-slider{
      padding: 0 24px;
    }
    .ico{
      background-position: center center;
      margin-bottom: 7px;
    }
  }
  &-right{
    .card-body{
      display: flex;
      flex-wrap: wrap;
      margin-left: -17px;
      margin-right: -17px;
      margin-top: -18px;
      margin-bottom: -18px;
      > .col{
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }
  }
  &__item{
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    padding: 10px 12px;
    p{
      font-size: rem(10px);
      color: rgba(18, 39, 74, 0.6);
      margin: 0;
    }
    &-img{
      border-right: 1px solid #EDF0FF;
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      padding-right: 10px;
      img{
        max-height: 33px;
      }
    }
    &-info{
      padding-left: 11px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-tag{
      border-radius: 9px;
      background-color: #EDF0FF;
      font-size: rem(7px);
      font-weight: bold;
      padding: 2px 7px;
      color: rgba(18, 39, 74, 0.5);
      margin-bottom: 4px;
    }
    &-title{
      font-size: rem(15px);
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 5px;
      i{
        color: $accent-color;
        font-size: rem(8px);
        display: inline-block;
        width: 5px;
        &:first-child{
          margin-left: 4px;
        }
      }
    }
    &-window{
      position: fixed;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      top: 0;
      width: calc(100% + 22px);
      z-index: 2;
      padding: 50px 23px 24px 30px;
      opacity: 0;
      visibility: hidden;
      .window-open &, .card__item:hover &{
        opacity: 1;
        visibility: visible;
      }
      .part-title--divider{
        margin-bottom: 12px;
      }
      .card__item-info{
        padding-left: 0;
      }
      .card__item-img{
        border: none;
        margin-bottom: 20px;
        img{
          max-height: 43px;
        }
      }
      .card__item-title{
        font-size: rem(18px);
        margin-bottom: 2px;
      }
      .card__item-tag{
        background-color: inherit;
        font-size: rem(15px);
        color: rgba(18, 39, 74, 0.5);
        padding: 0;
        font-weight: normal;
        margin-bottom: 6px;
      }
      p{
        font-size: rem(11px);
        color: rgba(18, 39, 74, 1);
        strong{
          font-size: rem(17px);
          display: block;
          margin-bottom: 18px;
        }
      }
    }
  }
}

.scrollbar-container{
  width: 100%;
  height: 383px;
  .viewport{
    padding-bottom: 10px;
  }
  .overview{
    padding: 4px 50px 0 50px;
  }
}
.scroll-bar.vertical{
  width: 7px;
  z-index: 1;
  cursor: pointer;
  .thumb{
    background: #EDF0FF;
    border-radius: 5px;
  }
}

/* Portfolio */
.home-portfolio {
  .feature-image {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}

/* Icon Box */
.icon-box {
  line-height: 1;
  font-size: 0.8em;
  margin-top: 45px;
  .home-about & {
    margin-top: 80px;
  }

  &__image{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    .feature-image{
      height: 108px;
      display: flex;
      align-items: center;
      margin-bottom: 11px;
    }
  }

  .number {
    font-weight: 600;
    font-size: 6em;
    color: $accent-color;
  }

  &.highlight {
    margin-bottom: 60px;
    margin-top: 30px;
    .title {
      font-weight: bold;
      font-size: 2.3rem;
      margin-top: 20px;
    }

    .number {
      font-weight: bold;
      font-size: 144px;
    }
  }
  &--alt {
    padding: 52px 32px;
    box-shadow: 0 12px 16px rgba(0,0,0,0.46);
    border-radius: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    .part{
      &-title{
        font-size: rem(41px);
        font-weight: 600;
        display: flex;
        margin-bottom: 60px;
        img {
          margin-right: 48px;
        }
      }
      &-desc{
        font-size: rem(19px);
        line-height: 1.72;
      }
    }
  }
  &--horizontal {
    display: flex;
    align-items: center;
    .icon-box{
      &--image{
        flex: 0 0 323px;
        + .icon-box--content{
          margin-left: 130px;
        }
      }
      &--content {
        + .icon-box--image {
          margin-left: 130px;
        }
      }
    }
    .part{
      &-title{
        font-size: rem(45px);
        font-weight: bold;
      }
      &-desc{
        font-size: rem(27px);
        line-height: 1.74;
        margin-top: 36px;
      }
    }
  }
}

/* Countdown */
.bg-countdown {
  background: url(images/bg-countdown.png) no-repeat 50px top;
  padding: 104px 0 40px;
}

.item-countdown {
  display: flex;
  margin: 2.375em 0 1.875em;
  font-size: 0.8rem;
  p {
    font-weight: 600;
    font-size: 1.125em;
    text-align: center;
    margin-right: 12px;
    color: #000000;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    span {
      font-weight: 600;
      font-size: 3.5555em;
      width: 1.5625em;
      height: 1.5625em;
      background-color: #13274B;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
    }
  }
}

/* Page Cover */
#page-cover {
  background: url("images/page-cover.jpg") no-repeat top center;
  background-size: cover;
}

.page-header {
  margin-top: 60px;

  .page-title {
    color: #fff;
  }
}

.page-header-single {
  .page-title {
    font-weight: 600;
    font-size: 32px;
    color: #12274A;
  }

  .breadcrumbs {
    a {
      color: #12274A;
    }
  }

  .breadcrumbs li {
    &:last-child {
      a {
        color: $accent-color;
      }
    }

    &:not(:last-child) {
      &:after {
        background-image: url("images/arrow-right-dark.png");
      }
    }
  }
}

.post-meta{
 padding: 15px 0 20px;
 display: block;
 margin-bottom: 0;
  .menu{
    .meta-time{
      margin-right: 35px;
    }
  }
}

.single-post{
  padding: 25px;
  &--date{
    font-size: rem(22px);
    color: $second-color;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

/* Seach Box */
.search-box {
  margin-bottom: 50px;
  form{
    margin-bottom: 20px;
  }
  .search-input {
    border: none;

    &::-webkit-input-placeholder { /* Edge */
      color: #8993A5;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #8993A5;
    }

    &::placeholder {
      color: #8993A5;
    }
  }
}

/* Single Post */
.author {
  margin: 0;

  .name {
    color: $accent-color;
  }
}

.taglist {
  display: flex;
  margin: 10px 0 0;
}

.author-intro {
  font-size: 0.875rem;
  margin-bottom: 30px;
  > div {
    border-bottom: 1px solid #EDF0FF;
    padding-bottom: 12px;
  }

  .author-avatar {
    flex: 0 0 auto;
    margin-right: 40px;
    position: relative;

    &:after {
      height: calc(100% - 88px);
      width: 4px;
      content: "";
      background-color: #3FAA61;
      border-radius: 4px;
      position: absolute;
      top: 70px;
      left: calc(50% - 2px);
    }
  }

  h3 {
    font-size: 1rem;
    color: $accent-color;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.self-advert{
  p{
    margin-bottom: 0.7rem;
  }
  .button{
    margin: 15px 0 20px;
  }
}

figcaption{
  font-size: 0.875rem;
  font-style: italic;
  color: #8993A5;
  margin: 8px 0 0;
}

blockquote{
  background-color: rgba(63,170,97,0.1);
  font-size: 1rem;
  color: #12274A;
  text-align: center;
  line-height: 2.25rem;
  padding: 40px 30px;
  position: relative;
  border: none;
  border-radius: 20px;
  margin: 30px 0 20px;
  &:before{
    content: "";
    background: url("images/blockquote.png");
    width: 46px;
    height: 32px;
    display: flex;
    margin: 0 auto 12px;
  }
}

/* Home Slogan */
#home-slogan{
  background: url("images/banner-slogan.jpg") no-repeat;
  background-size: cover;
  padding: 83px 0;
  margin: 35px 0;
}
/* Home Mission */
.home-mission{
  background: url("images/banner-mission.jpg") no-repeat;
  background-size: cover;
  padding: 20px 0;
  margin: 20px 0;
}

/* Home Testimonial */
#home-testimonial{
  background: url("images/banner-testimonial.jpg") no-repeat;
  background-size: cover;
  margin: 20px 0 56px;
}

.partner-lists{
  margin: 40px 0 0;
  .cell {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(50% - 1.875rem);
    flex: 0 0 auto;
  }
}

.testimonial{
  background-color: transparent;
  color: #fff;
  display: flex;
  position: relative;
  &__title{
    font-size: rem(26px);
    line-height: rem(31px);
  }
  &__notes{
    display: block;
    font-size: rem(19px);
    font-weight: normal;
    text-align: right;
    font-style: italic;
    margin: 10px 30px 25px 0;
  }
  &__item, &__img{
    display: flex;
    align-items: center;
  }
  &__item{
    padding: 0 65px;
  }
  &__img{
    flex: 0 0 auto;
  }
  .logo{
    width: 83px;
    height: 83px;
    border-radius: 18px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    object-position: top center;
    margin-left: -45px;
  }
}

/* Mobile */
.mobile-nav{
  .search-form{
    margin: 1rem;
    min-width: inherit;
  }
}
@media all and (min-width: 640px) {
  .image-spiner {
    font-size: 2.125rem;
  }
  .taglist{
    justify-content: flex-end;
    margin-top: 0;
  }
  blockquote {
    font-size: 1.375rem;
    line-height: 2.25rem;
    padding: 52px;
    border-radius: 20px;
    margin: 50px 0 40px;
  }
  .mentor-group {
    .media-object-section {
      padding-right: 1.875rem;
    }
  }
}
@media all and (min-width: 1024px) {
  .image-spiner{
    font-size: 2.125rem;
    &--large{
      margin-left: 1.22em;
    }
  }
  .mt-3 {
    margin-top: 3.84rem;
  }
  .home-about {
    .part-video {
      margin-top: 60px;
    }
  }
  .partner-info{
    padding: 45px 49px 56px 50px;
    border-radius: 40px;
  }
  .node-show {
    .menu{
      font-size: 1.125em;
    }
  }
  .home-offer {
    + .home-journey {
      margin-top: 0;
      padding-top: 15px;
    }
  }
  .search-box {
    form {
      max-width: 200px;
      margin-left: auto;
      margin-bottom: 0;
    }
  }
  .self-advert{
    border-width: 20px;
  }
}
@media all and (min-width: 1200px) {
  .item-countdown{
    font-size: 1rem;
  }
  .slider-button {
    margin-top: 0;
  }
  .image-spiner {
    font-size: 3rem;
    &--large{
      font-size: 3rem;
    }
  }
  .icon-box{
    font-size: 1em;
  }
  .section-slider {
    .owl-theme {
      .owl-dots{
        right: 90px;
        .owl-dot {
          span{
            width: 20px;
            height: 20px;
            margin: 20px 0;
          }
        }
      }
    }
  }
  .grid-container-huge{
    max-width: 1590px;
  }
}

@media all and (max-width: 1024px) {
  .home-about {
    .part-video{
      margin-bottom: 30px;
    }
  }
  .image-spiner{
    margin-top: 140px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .slider-special {
    .slider-info{
      width: 100%;
      left: 0;
    }
  }
}
@media all and (max-width: 640px) {
  .image-spiner {
    margin-top: 50px;
    margin-bottom: 20px;
    &--large{
      margin-top: 100px;
    }
  }
  .section-partner {
    .owl-stage{
      .owl-item{
        justify-content: center;
      }
    }
  }
  .slider-special {
    .slider-info{
      bottom: 30px;
    }
  }
}
