$accent-color: #3aa25b !default;
$second-color: #12274a !default;
@function rem($size) {
  @return $size / 16px * 1rem;
}

/* Second Font */
.header-primary .menu a,
.part-desc,
.button--special{
  font-family: 'Barlow Condensed' !important;
}

a, .startup-journey .title{
  -webkit-transition: all 0.15s ease 0s; /* For Safari 3.1 to 6.0 */
  transition: all 0.15s ease 0s;
}
.journey-step {
  .node-expand, li:after{
    -webkit-transition: all 0.1s linear 0.1s; /* For Safari 3.1 to 6.0 */
    transition: all 0.1s linear 0.1s;
  }
}

.color-accent{
  color: $accent-color;
}
.color-second{
  color: $second-color;
}

.part{
  &-title{
    margin-bottom: 30px;
    &--divider{
      width: 94px;
      height: 6px;
      background-color: $accent-color;
      display: block;
      margin-bottom: 20px;
      &.text-center{
        margin-left: auto;
        margin-right: auto;
      }
      + .part-title{
        margin-top: -13px;
      }
    }
    &--small{
      color: $second-color;
      font-size: rem(44px);
      font-weight: 500;
      margin-bottom: -3px;
    }
    &--xsmall {
      font-size: rem(40px);
      font-weight: 500;
    }
    + .part-title--divider {
      margin-top: -19px;
    }
  }
  &-desc{
    color: $second-color;
    font-size: rem(25px);
    line-height: rem(32px);
    margin-bottom: 0;
  }
  &-box{
    width: 100%;
    height: 100%;
    max-height: 305px;
    border: 2px solid $accent-color;
    position: relative;
    z-index: 1;
    background-color: #fff;
    &:before{
      width: 77px;
      height: 77px;
      content: "";
      position: absolute;
      border-right: 15px solid $accent-color;
      border-bottom: 15px solid $accent-color;
      z-index: -1;
      bottom: -15px;
      right: -15px;
    }
  }
}

.grid-col-auto{
  .cell{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
.mt-3 {
  margin-top: 1.84rem;
}

.mt-2 {
  margin-top: 1.37rem;
}

.mb-4{
  margin-bottom: 4.5rem;
}

.box-shadow {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-medium {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.absolute {
  position: absolute;
}

.button{
  background-color: $accent-color;
  font-size: rem(27px);
  &--gradient{
    background: linear-gradient(90deg, rgba(63,170,97,1) 0%, rgba(39,140,71,1) 100%);
  }
  &--stroke{
    background-color: #fff;
    border: 4px solid $accent-color;
    color: $second-color;
  }
  &-large {
    padding: 14px 33px;
    line-height: normal;
    font-weight: bold;
  }
  &--special{
    font-weight: 500;
    padding: 16px 30px 17px;
  }
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img{
  &-list{
    margin: 80px 0;
  }
  &-shadow{
    box-shadow: 0px 0px 21px rgb(0 0 0 / 30%);
  }
  &--circle {
    border-radius: 50%;
  }
}

.button-row {
  .button{
    margin: 0 25px;
  }
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.top-bar {
  padding: 10px 15px;

  .is-dropdown-submenu {
    background-color: #fff;
  }

  .dropdown.menu {
    > li {
      &.is-dropdown-submenu-parent {
        > a {
          &:after {
            background-image: url("images/arrow-down-dark.png");
            margin-top: -4px;
          }
        }

        &.is-active {
          > a {
            &:after {
              background-image: url("images/arrow-down-dark-active.png");
            }
          }
        }
      }
    }
  }
}

.header-white {
  background-color: #fff;
  border-bottom: 1px solid #EDF0FF;
}

.header-primary {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu a {
    color: #12274a;
    font-size: 1rem;
  }
}

.is-dropdown-submenu {
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  min-width: 220px;
}

.is-dropdown-submenu > li {
  position: relative;
}

.is-dropdown-submenu > li:last-child:after {
  display: none;
}

.is-dropdown-submenu > li:before,
.is-dropdown-submenu > li:after {
  content: "";
  position: absolute;
}

.is-dropdown-submenu > li:before {
  width: 9px;
  height: 9px;
  border: 1px solid $accent-color;
  border-radius: 50%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.is-dropdown-submenu > li:after {
  width: 1px;
  height: 19px;
  left: 4px;
  bottom: -10px;
  background: $accent-color;
  border-radius: 6px;
}

.header-container {
  .dropdown {
    .is-dropdown-submenu {
      a {
        padding: 0.6rem 1.5rem;
        color: #12274A;
        font-size: 14px;
      }
    }
  }
}

.dropdown .is-dropdown-submenu a:hover {
  color: $accent-color;
}

.search-form {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  min-width: 270px;
}

.search-form input[type="text"], .search-form input[type="text"]:focus {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.search-form input[type="text"] {
  margin: 0;
  height: 50px;
  padding: 10px 20px;
}

.search-form button[type="submit"] {
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
  background: url("images/btn-search.png") no-repeat 0 0;
  border: none;
  margin: 15px 28px 15px 15px;
  flex: 0 0 auto;
}

/* Slider */
.section-slider {
  position: relative;
  margin-top: 100px;
  .owl-carousel:not(.owl-loaded){
    opacity: 0;
    visibility: hidden;
  }
}

.slider-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  img{
    height: 20px;
  }
}

.slider-item{
  position: relative;
}

.slider-image {
  display: flex;
  align-items: stretch;
}

.slider-image img {
  object-fit: cover;
  object-position: center center;
}

.slider-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 2;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 50px;
  .title {
    font-weight: 800;
    font-size: 2em;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
  }
  .sub-title {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: none;
    color: #fff;
  }
}

.slider-button {
  display: flex;
  justify-content: center;
}

.slider-button .button {
  height: 3.2em;
  margin-top: 1em;
}

.slider-special{
  .slider-image{
    height: inherit;
    &:before{
      display: none;
    }
  }
  .slider-info{
    width: 37.5%;
    text-align: center;
    left: 9.479%;
    bottom: 16.1%;
    top: auto;
    transform: inherit;
  }
  .button{
    height: inherit;
  }
}

/* About */
.home-about {
  .part-video {
    margin-top: 30px;
  }
}

.home-about .btn-play {
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Startup Journey Minimal */
.node-expand {
  overflow: hidden;

  .node-item {
    &:first-child {
      margin: 0 36px;
      padding: 2px 0 11px;
      border-bottom: 3px solid #EDF0FF;
    }
  }
}

.node-item {
  padding: 11px 36px;

  p {
    line-height: 2.3;
    margin: 0;
  }
}

.startup-journey-minimal {
  margin-bottom: 357px;
  margin-top: 326px;

  li {
    width: 324px;
    max-width: 30%;
    padding-bottom: 95px !important;
    background: none;

    &.is-active {
      color: inherit;
    }

    &:after {
      content: "";
      width: 1px;
      height: 30px;
      background: url(images/verticle-line.png) repeat-y;
      display: block;
      position: absolute;
      bottom: 23px;
      left: 50%;
      border: none;
    }

    &:nth-child(2) {
      left: 50%;
      right: auto;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &:nth-child(3) {
      right: 0;
      left: auto;
    }
  }

  .node {
    animation: inherit !important;
    width: 24px !important;
    height: 24px !important;
    background: none !important;
    padding: 0;
    border: 2px solid $accent-color;
    bottom: -12px !important;
    background-color: #fff !important;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #8993a5;
    font-style: italic;
    font-size: 1.125em;
    font-weight: normal;
  }

  .title {
    font-size: 1.3333em;
    color: #13274B;
    letter-spacing: 0.02em;
    line-height: 1.4;
    font-style: normal;
    font-weight: bold;
  }

  .number {
    font-size: 16em;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: $accent-color;
    opacity: 0.3;
    position: absolute;
    line-height: 1;
    font-style: normal;
    left: 0px;
    bottom: -30px;
  }
}
.mobile-journey {
  margin-top: 50px;
  .step-expand{
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

.journey-step{
  .node-expand{
    top: calc(100% + 100px);
  }
  li:hover, li.is-active{
    &:after{
      bottom: -50px;
    }
    .node-expand{
      top: calc(100% + 50px);
      visibility: visible;
    }
  }
}

.node-show {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: calc(100% + 30px);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 33px 0 36px;

  &:before {
    position: absolute;
    top: -14px;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    border-bottom-color: $accent-color;
    border-width: 7px;
    content: "";
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em;
    padding: 0 0 16px;

    p {
      margin-bottom: 13px;

      &:before {
        content: "✓";
        margin-right: 16px;
      }
    }
  }

  .button {
    padding: 10px 28px;
    font-weight: bold;
    font-size: 1.125rem;
  }
}

/* Mentor */
@media all and (min-width: 1080px) {
  #content {
    padding: 34px 0 0;
  }
  .jcarousel-wrapper {
    margin-top: 75px;
  }
}

.mentor-item {
  padding: 0 7px;
  margin-bottom: 22px;

  span {
    line-height: 1.2;
  }

  p {
    margin-top: 24px;
  }

  a {
    display: block;
    position: relative;

    &:after {
      width: 100%;
      height: 100%;
      border: 0px solid $accent-color;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      -webkit-transition: border 0.3s ease 0s;
      -moz-transition: border 0.3s ease 0s;
      -ms-transition: border 0.3s ease 0s;
      -o-transition: border 0.3s ease 0s;
      transition: border 0.3s ease 0s;
    }
  }

  &:hover {
    a {
      &:after {
        border-width: 10px;
      }
    }
  }
}

.mentor-group {
  font-size: 1.125rem;

  .media-object-section {
    padding-right: 1rem;
  }
}

/* Partner */
#home-partner, #home-achievements {
  background: url("images/bg-partner.png") no-repeat 0 0;
  background-size: cover;
  padding: 64px 0 100px 0;
}

.section-partner {
  .partner-item {
    padding-left: 53px;
    padding-right: 53px;
  }

  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.partner-info {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 35px 15px 35px 15px;

  .part-desc {
    margin-bottom: 15px;
  }
}

.partner-button {
  margin-top: 10px;

  .button {
    padding: 17px 31px;
  }
}


/* Image Spiner */
.image-spiner {
  z-index: 1;
  font-size: 1.3rem;
  margin-top: 1.4em;

  .outside-round, .inside-round {
    &:after {
      width: 100%;
      height: 100%;
      border: 2px dashed #DFE7F4;
      content: "";
      border-radius: 50%;
      display: block;
    }
  }

  .outside-round {
    width: 11em;
    height: 11em;
  }

  .inside-round {
    width: 7em;
    height: 7em;
  }

  .inside-round, .main-round {
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .item-round {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;

    img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  .main-round{
    z-index: 10;
    box-shadow: 0px 22px 28px -11px rgba(0, 0, 0, 0.2);
  }

  .main-round {
    width: 4em;
    height: 4em;
    padding: 0.4em 0.26em;

    &:after {
      display: none;
    }
  }

  .size-1 {
    width: 2em;
    height: 2em;
  }

  .size-2 {
    width: 1.5em;
    height: 1.5em;
  }

  .size-3 {
    width: 1.2em;
    height: 1.2em;
  }

  .size-4 {
    width: 1em;
    height: 1em;
  }

  .item-1 {
    top: -1em;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .item-2 {
    top: 2.12em;
    right: -0.34em;
  }

  .item-3 {
    bottom: 2.82em;
    right: -0.16em;
  }

  .item-4 {
    bottom: -0.94em;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .item-5 {
    bottom: 3.7em;
    left: -0.62em;
  }

  .item-6 {
    top: 1.88em;
    left: 0.4em;
  }

  .item-7 {
    top: -0.22em;
    right: 0.26em;
  }

  .item-8 {
    top: 3.2em;
    right: -0.4em;
  }

  .item-9 {
    bottom: 0em;
    right: 0.76em;
  }

  .item-10 {
    bottom: 0em;
    left: 0.4em;
  }

  .item-11 {
    top: 2.44em;
    left: -0.5em;
  }

  .item-12 {
    left: 0.98em;
    top: -0.22em;
  }

  .outside-round:after,
  .inside-round:after {
    animation-name: spin-border;
    animation-duration: 50000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .inside-round:after{
    animation-name: spin-border-reverse;
  }

  .item-round:after {
    animation-duration: 15000ms;
  }
}

@keyframes spin-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-border-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Content */
.home-journey{
  .part-desc{
    margin-bottom: 16px;
  }
}
.home-partnerships{
  margin-top: 0px;
  margin-bottom: 40px;
  + .home-portfolio{
    padding-top: 0px;
  }
}
.home-blog{
  margin-top: 75px;
  margin-bottom: 72px;
}
.home-offer{
  margin-bottom: 0;
}

.home-portfolio{
  .part-desc{
    margin-bottom: 80px;
  }
  + .home-achievements{
    padding-top: 20px;
  }
}

.home-achievements{
  + .home-supported{
    padding-top: 0px;
  }
}

.home-supported{
  .feature-image{
    margin-top: 60px;
    margin-bottom: 90px;
  }
}

.sub-part{
  padding: 30px 0;
}

.group-part{
  .part-title{
    margin-bottom: 50px;
  }
}

@media all and (min-width: 1200px) {
  .grid-margin-x-large {
    margin-left: -4.125rem;
    margin-right: -4.125rem;

    > .cell {
      padding-left: calc(4.125rem - 0.9375rem);
      padding-right: calc(4.125rem - 0.9375rem);
    }
  }
  .page-header {
    margin-top: 84px;
  }
  header .logo img {
    max-height: 64px;
  }
  #content{
    padding: 64px 0 0;
  }
  .home-journey{
    margin-top: 50px;
    .part-desc{
      margin-bottom: 46px;
    }
  }
  .home-partnerships{
    margin-top: -15px;
    margin-bottom: 115px;
    + .home-portfolio{
      padding-top: 0;
      margin-top: -62px;
    }
  }
  .home-blog{
    margin-top: 70px;
    margin-bottom: 56px;
  }
  .home-offer{
    margin-bottom: 0;
    + .home-journey{
      margin-top: 0;
      padding-top: 35px;
    }
  }

  .home-portfolio{
    .part-desc{
      margin-bottom: 120px;
    }
    + .home-achievements{
      padding-top: 50px;
    }
  }
  .home-countdown{
    margin-top: 48px;
    margin-bottom: 105px;
  }
  .sub-part{
    padding: 53px 0;
  }
  .top-bar {
    padding: 28px 15px;
  }
}

/* Footer */
footer {
  font-size: 0.875rem;
}

.footer-new {
  background: url("images/bg-footer.png") no-repeat;
  background-size: cover;
  position: relative;
  font-size: 1.125rem;
  color: #fff;

  &:before {
    width: 100%;
    height: 100%;
    background-color: rgba(18, 39, 74, 0.9);
    content: "";
    top: 0;
    left: 0;
    position: absolute;
  }

  .grid-container {
    z-index: 1;
    position: relative;
  }

  .social {
    margin: 40px 0;

    li {
      margin-right: 20px;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1.75;
  }

  .google-maps {
    margin: 23px 0;
  }
}

.widget-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 0.75em;
}

.footer-widget {
  margin: 22px 0;

  .icon {
    width: 17px;
    flex: 0 0 auto;
    text-align: center;
    margin-right: 15px;
  }

  a {
    color: #fff;
  }
}

/* Card */
.card-heading {
  font-size: 1.125rem;
  font-weight: bold;
}

.card {
  .card-heading {
    p {
      color: rgba(18, 39, 74, 0.6);
    }
  }

  &.highlight {
    .card-heading {
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

/* Portfolio */
.home-portfolio {
  .feature-image {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}

/* Icon Box */
.icon-box {
  line-height: 1;
  font-size: 0.8em;
  margin-top: 40px;
  .home-about & {
    margin-top: 80px;
  }

  &__image{
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
  }

  .title {
    font-size: 1.6em;
    margin: 10px 0 0;
    line-height: 2rem;
    color: #fff;
  }

  .number {
    font-weight: 600;
    font-size: 6em;
    color: $accent-color;
  }

  &.highlight {
    margin-bottom: 60px;
    margin-top: 30px;
    .title {
      font-weight: bold;
      font-size: 2.3rem;
      margin-top: 20px;
    }

    .number {
      font-weight: bold;
      font-size: 144px;
    }
  }
}

/* Countdown */
.bg-countdown {
  background: url(images/bg-countdown.png) no-repeat 50px top;
  padding: 104px 0 40px;
}

.item-countdown {
  display: flex;
  margin: 2.375em 0 1.875em;
  font-size: 0.8rem;
  p {
    font-weight: 600;
    font-size: 1.125em;
    text-align: center;
    margin-right: 12px;
    color: #000000;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    span {
      font-weight: 600;
      font-size: 3.5555em;
      width: 1.5625em;
      height: 1.5625em;
      background-color: #13274B;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
    }
  }
}

/* Page Cover */
#page-cover {
  background: url("images/page-cover.jpg") no-repeat top center;
  background-size: cover;
}

.page-header {
  margin-top: 60px;

  .page-title {
    color: #fff;
  }
}

.page-header-single {
  .page-title {
    font-weight: 600;
    font-size: 32px;
    color: #12274A;
  }

  .breadcrumbs {
    a {
      color: #12274A;
    }
  }

  .breadcrumbs li {
    &:last-child {
      a {
        color: $accent-color;
      }
    }

    &:not(:last-child) {
      &:after {
        background-image: url("images/arrow-right-dark.png");
      }
    }
  }
}

.post-meta{
 margin: 15px 0 20px;
  .menu{
    .meta-time{
      margin-right: 35px;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

/* Seach Box */
.search-box {
  margin-bottom: 50px;
  form{
    margin-bottom: 20px;
  }
  .search-input {
    border: none;

    &::-webkit-input-placeholder { /* Edge */
      color: #8993A5;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #8993A5;
    }

    &::placeholder {
      color: #8993A5;
    }
  }
}

/* Single Post */
.author {
  margin: 0;

  .name {
    color: $accent-color;
  }
}

.taglist {
  display: flex;
  margin: 10px 0 0;
}

.author-intro {
  font-size: 0.875rem;
  margin-bottom: 30px;
  > div {
    border-bottom: 1px solid #EDF0FF;
    padding-bottom: 12px;
  }

  .author-avatar {
    flex: 0 0 auto;
    margin-right: 40px;
    position: relative;

    &:after {
      height: calc(100% - 88px);
      width: 4px;
      content: "";
      background-color: #3FAA61;
      border-radius: 4px;
      position: absolute;
      top: 70px;
      left: calc(50% - 2px);
    }
  }

  h3 {
    font-size: 1rem;
    color: $accent-color;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.self-advert{
  p{
    margin-bottom: 0.7rem;
  }
  .button{
    margin: 15px 0 20px;
  }
}

figcaption{
  font-size: 0.875rem;
  font-style: italic;
  color: #8993A5;
  margin: 8px 0 0;
}

blockquote{
  background-color: rgba(63,170,97,0.1);
  font-size: 1rem;
  color: #12274A;
  text-align: center;
  line-height: 2.25rem;
  padding: 40px 30px;
  position: relative;
  border: none;
  border-radius: 20px;
  margin: 30px 0 20px;
  &:before{
    content: "";
    background: url("images/blockquote.png");
    width: 46px;
    height: 32px;
    display: flex;
    margin: 0 auto 12px;
  }
}

/* Home Slogan */
#home-slogan{
  background: url("images/banner-slogan.jpg") no-repeat;
  background-size: cover;
  padding: 83px 0;
}

/* Home Testimonial */
#home-testimonial{
  background: url("images/banner-testimonial.jpg") no-repeat;
  background-size: cover;
  padding: 74px 0;
}

.testimonial{
  background-color: transparent;
  color: #fff;
  display: flex;
  position: relative;
  background: url("images/blockquote-light.png") no-repeat 0px 5px;
  padding: 40px 0;
  &__title{
    font-size: rem(38px);
    font-weight: 500;
  }
  &__notes{
    display: block;
    font-size: rem(19px);
    font-weight: normal;
    text-align: right;
    margin-top: 10px;
  }
}

/* Mobile */
.mobile-nav{
  .search-form{
    margin: 1rem;
    min-width: inherit;
  }
}
@media all and (min-width: 640px) {
  .image-spiner {
    font-size: 2.125rem;
  }
  .taglist{
    justify-content: flex-end;
    margin-top: 0;
  }
  blockquote {
    font-size: 1.375rem;
    line-height: 2.25rem;
    padding: 52px;
    border-radius: 20px;
    margin: 50px 0 40px;
  }
  .mentor-group {
    .media-object-section {
      padding-right: 1.875rem;
    }
  }
}
@media all and (min-width: 1024px) {
  .image-spiner{
    margin-left: 1em;
    font-size: 2.125rem;
  }
  .mt-3 {
    margin-top: 3.84rem;
  }
  .home-about {
    .part-video {
      margin-top: 60px;
    }
  }
  .partner-info{
    padding: 55px 33px 65px 33px;
    border-radius: 40px;
  }
  .node-show {
    .menu{
      font-size: 1.125em;
    }
  }
  .card.card-right {
    padding: 69px 0 5px 90px;
    margin-left: 18px;
  }
  .home-offer {
    + .home-journey {
      margin-top: 0;
      padding-top: 15px;
    }
  }
  .search-box {
    form {
      max-width: 200px;
      margin-left: auto;
      margin-bottom: 0;
    }
  }
  .self-advert{
    border-width: 20px;
  }
}
@media all and (min-width: 1200px) {
  .item-countdown{
    font-size: 1rem;
  }
  .slider-info {
    .title{
      min-height: 260px;
    }
  }
  .slider-button {
    margin-top: 0;
  }
}
@media all and (min-width: 1660px) {
  .image-spiner {
    font-size: 3.125rem;
    margin-left: 4.36em;
  }
  .section-slider {
    .owl-theme {
      .owl-dots{
        right: 90px;
        .owl-dot {
          span{
            width: 20px;
            height: 20px;
            margin: 20px 0;
          }
        }
      }
    }
  }
  .slider-scroll{
    bottom: 120px;
    img{
      height: 40px;
    }
  }
}
@media all and (min-width: 1492px) {
  .image-spiner {
    font-size: 3.125rem;
  }
  .icon-box{
    font-size: 1em;
  }
  .card.card-right{
    padding-left: 120px;
  }
}
@media all and (min-width: 1620px) {
  .grid-container-huge{
    max-width: 1590px;
  }
  body.home-body .content{
    background-position: left 710px;
  }

  body.home-accelerator .content {
    background-position: 0% 700px;
  }

  body.home-partner .content,
  body.home-mentor .content{
    background-position: 0% 294px;
  }
}

@media all and (max-width: 1024px) {
  .home-about {
    .part-video{
      margin-bottom: 30px;
    }
  }
  .image-spiner{
    margin-top: 140px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .slider-special {
    .slider-info{
      width: 100%;
      left: 0;
    }
  }
}
@media all and (max-width: 640px) {
  .image-spiner {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .section-partner {
    .owl-stage{
      .owl-item{
        justify-content: center;
      }
    }
  }
  .slider-special {
    .slider-info{
      bottom: 30px;
    }
  }
}
